@model tarefa.Models.Tarefa;

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="Titulo" >Titulo</label>
        <input asp-for="Titulo" class="form-control">

    </div>
    <div class="mb-3">
        <label asp-for="Descricao">Descrição</label>
        <input asp-for="Descricao" class="form-control">

    </div>
    <button class="btn btn-primary" type="submit">Salvar</button>
</form>